{% extends 'base.html' %}
{% block content %}
    <div class="row sub-nav-header">
        <a href="/home.html"><span class="main-btn">网站首页</span></a>
        <a href="/about_me.html"><span class="sub-btn">关于我</span></a>
        <p>{{ about_sub_nav_world }}</p>
    </div>
    <div class="row content-box about-content">
        <div class="col-md-9 about-info">
            <h2>Just about me</h2>
            {% for info in about_me_info %}
                <p>{{ info.val|safe }}</p>
            {% endfor %}
            <h2>About my blog</h2>
            {% for info in about_my_blog %}
                <p>{{ info.val|safe }}</p>
            {% endfor %}
        </div>
        <div class="col-md-3 personal-info">
            <ul>
                {% for info in personal_info %}
                    <li>{{ info.val|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}