{% extends 'base.html' %}
{% block content %}
    <div class="row sub-nav-header">
        <a href="/home.html"><span class="main-btn">网站首页</span></a>
        <a href="/about_me.html"><span class="sub-btn">关于我</span></a>
        <p>再长的路，一步步也能走完；再短的距离，不迈开双脚也无法到达</p>
    </div>
    <div class="row content-box about-content">
        <div class="col-md-9 about-info">
            <h2>Just about me</h2>
            <p>
                IT男一枚，热爱编程，喜欢网站设计、WEB服务开发，今后致力于该领域的工作，希望能有更长足的进步。
            </p>
            <p>
                我与编程：不记得是初中的从哪个时候起，我就很向往当一个程序员，对这份职业无比的崇拜。然而真正走到程序员的这条路，却是无比的波折。前后三次失败的高考，最后辗转进了广轻软件设计专业，对于这个来之不易的机会，格外的珍惜，在老师的教导与自身兴趣的驱动下，逐渐掌握了软件开发技能，跟过学校项目，得过软件比赛的奖项，毕业后也从事了软件开发方面的工作，也希望以后能再这个领域继续走深走远。
            </p>
            <p>
                职业理想：热爱软件开发！不仅仅是因为这是一份很酷的工作，更多的是从小就喜欢发明创造的个性，软件技术无疑是最能实现表达自己的想法的强力工具。然而年轻、迷茫和浮躁，曾几经波折，先后经历过游戏，Android，Voip，Web，从Java到C/C++，又回到Java，再到现在的Python，走了一段很泛而不专的弯路。经过人生的第一次创业之后，才开始懂得经验的价值，所以，以后将坚定地在网站开发，WEB服务方向努力认真地走下去。
            </p>
            <p>
                喜欢Django，使用过许多主流的WEB框架，java的ssh，jfinal，node的express，Go的revel，php的wordpress，python的Django。这些框架中最适合敏捷开发的无疑是Django。对于IT行业来说，不缺想法，不缺市场，也不缺机会，唯一缺的是实现想法的执行力，Django无疑是WEB生产的强力装备。
            </p>
            <p>
                开通这个博客，一来是想让以后自己走过的路有个积淀的地方，希望自己的经验也能帮助别人，二来想获得管理站点的一些实际经验，锻炼自己的技术，三来也是想将自己的想法分享出去，能跟大家沟通交流。另外，博客小清新的主题配色大部分借鉴了<a href="http://www.yangqq.com/">杨青姐姐</a>的网站模板，用Bootstrap开发页面，希望大家喜欢。
            </p>
            <h2>About my blog</h2>
            <p>域名: xfuture.duapp.com 创建于2014年3月22日</p>
            <p>服务器: BAE</p>
            <p>程序: Django1.6</p>
        </div>
        <div class="col-md-3 personal-info">
            <ul>
                <li>网名：xfuture | 修修</li>
                <li>姓名：范修盛</li>
                <li>性别：男</li>
                <li>生日：1988-2-8</li>
                <li>籍贯：广东阳江</li>
                <li>现居：广州天河</li>
                <li>职业：软件攻城狮</li>
                <li>技能：Web开发(Java/python)</li>
                <li>喜欢的书：《笑傲江湖》《倚天屠龙记》《天龙八部》</li>
                <li>喜欢的运动：骑行、乒乓球、羽毛球、八段锦</li>
                <li><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=EGR-YH9kf2B-UGFhPnN-fQ" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a></li>
            </ul>
        </div>
    </div>
{% endblock %}