{% if page_count > 0 %}
    <div class="pagination-container">
        <ul class="pagination pagination-sm">
            <li><a href="/{{ page_module_name }}/1{{ page_module_suffix }}">«</a></li>
            {% load kits_tags %}
            {% for number in page_count|get_range %}
                <li><a href="/{{ page_module_name }}/{{ number}}{{ page_module_suffix }}">{{ number }}</a> </li>
            {% endfor %}
            <li><a href="/{{ page_module_name }}/{{ page_count }}{{ page_module_suffix }}">»</a></li>
        </ul>
    </div>
{% endif %}